{% extends 'base.html' %}
{% block body_block %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Django level 5</h1>
    <p class="lead">In this project we do a training of how to register a user in a secure way.</p>
    <p class="lead">
      This project cover these topics:
    </p>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">The use of an existing Model to create a Form.</li>
    <li class="list-group-item">Template TAG (extends, static, url, block, and more)</li>
    <li class="list-group-item">Media files.</li>
    <li class="list-group-item">Model and relationship One To One.</li>
    <li class="list-group-item">Control flows in templates and views.</li>
    </ul>
  </div>
</div>
{% endblock %}
